<div class="centered-content">
  <div class="modal-box">
    <h1 class="title has-text-primary">Create a new task</h1>
    <br />
    <input
      #taskTitleInput
      class="input has-background-light is-medium"
      type="text"
      placeholder="Enter task name..."
      [ngClass]="{ 'is-danger': showTitleError }"
      (focus)="onTitleFocus()"
      (blur)="onTitleBlur(taskTitleInput.value)"
      (keydown.enter)="createTask(taskTitleInput.value.trim())"
    />
    <p class="help is-danger" *ngIf="showTitleError">Title is required.</p>
    <br /><br />
    <div class="buttons is-right">
      <button class="button is-medium" (click)="cancelButtonClick()">Cancel</button>
      <button
        class="button is-primary has-text-white is-medium"
        [disabled]="showTitleError"
        (click)="createTask(taskTitleInput.value.trim())"
      >
        Create
      </button>
    </div>
  </div>
</div>
