<div class="centered-content">
  <div class="modal-box">
    <h1 class="title has-text-primary">Edit task</h1>

    <input
      #taskTitleInput
      class="input has-background-light is-medium"
      type="text"
      placeholder="Enter task name..."
      [ngClass]="{'is-danger': showTitleError}"
      [value]="currentTitle"
      (input)="onInputChange(taskTitleInput.value)"
      (focus)="onTitleFocus()"
      (blur)="onTitleBlur(taskTitleInput.value)"
    />
    <p class="help is-danger" *ngIf="showTitleError">Task title is required.</p>
    <br /><br />
    <div class="buttons is-right">
      <button class="button is-medium" (click)="cancelButtonClick()">Cancel</button>
      <!-- <button class="button is-medium" routerLink="/">Cancel</button> -->
      <button
        class="button is-primary has-text-white is-medium"
        [disabled]="showTitleError"
        (click)="updateTask(taskTitleInput.value.trim())"
      >
        Save
      </button>
    </div>
  </div>
</div>
